<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @passenger.name %></h1>
    <p>
      You have successfully booked your ticket!
    </p>
  </body>
</html>